.leftbox-reduced-padding .panel-button {
  /*-natural-hpadding: 4px;*/
  -minimum-hpadding: 2px;
}

.window-focused {
  border-top: 2px solid rgba(255, 255, 255, 1);
  padding-top: 1px;
  padding-bottom: 2px;
}

.window-unfocused {
  border-top: 2px solid rgba(255, 255, 255, 0);
  padding-top: 1px;
  padding-bottom: 2px;
}

.workspace-separator {
  padding-top: 4px;
  padding-bottom: 2px;
}

.window-tooltip {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
