.leftbox-reduced-padding .panel-button {
  /*-natural-hpadding: 4px;*/
  -minimum-hpadding: 4px;
}

.workspace-button {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;

  transition-duration: 0.2s;
}

.window-button-96 > StWidget {
  -st-natural-width: 96px;
  min-width: 24px;
  max-width: 96px;
}

.window-button-144 > StWidget {
  -st-natural-width: 144px;
  min-width: 24px;
  max-width: 144px;
}

.window-button-192 > StWidget {
  -st-natural-width: 192px;
  min-width: 24px;
  max-width: 192px;
}

.window-button-240 > StWidget {
  -st-natural-width: 240px;
  min-width: 24px;
  max-width: 240px;
}

.window-button-288 > StWidget {
  -st-natural-width: 288px;
  min-width: 24px;
  max-width: 288px;
}

.window-button-336 > StWidget {
  -st-natural-width: 336px;
  min-width: 24px;
  max-width: 336px;
}

.window-button-384 > StWidget {
  -st-natural-width: 384px;
  min-width: 24px;
  max-width: 384px;
}

.window-focused {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 0.2);

  transition-duration: 0.2s;
}

.window-unfocused {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 0.2s;
}

.window-focused-top {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 2px;

  border-top: 2px solid rgba(255, 255, 255, 1);
  border-bottom: 1px hidden rgba(255, 255, 255, 0);
  border-left: 1px hidden rgba(255, 255, 255, 0);
  border-right: 1px hidden rgba(255, 255, 255, 0);
  border-radius: 0px;

  background-gradient-start: rgba(255, 255, 255, 0.3);
  background-gradient-end: rgba(255, 255, 255, 0.0);
  background-gradient-direction: vertical;

  transition-duration: 0.2s;
}

.window-unfocused-top {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 2px;

  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px hidden rgba(255, 255, 255, 0);
  border-left: 1px hidden rgba(255, 255, 255, 0);
  border-right: 1px hidden rgba(255, 255, 255, 0);
  border-radius: 0px;

  background-gradient-start: rgba(255, 255, 255, 0.15);
  background-gradient-end: rgba(255, 255, 255, 0.0);
  background-gradient-direction: vertical;

  transition-duration: 0.2s;
}

.window-unfocused-top-icon {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 2px;

  border-top: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 1px hidden rgba(255, 255, 255, 0);
  border-left: 1px hidden rgba(255, 255, 255, 0);
  border-right: 1px hidden rgba(255, 255, 255, 0);
  border-radius: 0px;

  transition-duration: 0.2s;
}

.window-tooltip {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}
